*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(203, 231, 222);
}

.navbar{
    width: 92%;
    background-color : rgb(64, 68, 67);
    height : 17.5% ;
}

.logo{
    float: left;
    width :auto;
    height: 90%;
    margin: 10px 0px 0px 40px;
}

.menu{
    float: right;
    margin-top : 50px;
}

.menu li{
    display: inline;
    text-decoration: none;
}


.list-item{
    border: 5px solid rgb(119, 39, 39);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    text-transform: uppercase;
}

.list-item:hover{
    background-color: white;
    color: black;
    text-decoration-color: aliceblue;
    font-size: 30px ;
    text
}

.what_is_event{

}

.highlights{

}

.gallery{

}

.spoonser{


}

.footer{


}