*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(203, 231, 222);
}

.navbar{
    width: 99.9%;
    background-color : rgb(64, 68, 67);
    height : 20% ;
    vertical-align: center;
}

.logo img{
    height: 90%;
    width: auto;
    margin-left: 50px;
    margin-top:5px;
    float: left;
}

.menu{
    float: right;
    margin-top : 50px;
}

.menu li{
    display: inline;
    text-decoration: none;
}


.list-item{
    border: 5px solid rgb(119, 39, 39);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    text-transform: uppercase;
}

.list-item:hover{
    background-color: white;
    color: black;
    text-decoration-color: aliceblue;
    font-size: 30px ;
}

.what_is_event{
    font-size : 22px ;
    display: block;
    background-color: brown;
    z-index: 1;
    display: flex;
    
}

.abtevent_text{
    float: left;
    margin : 60px 0px 0px 60px;
    right : 40% ;
    text-align: left;
    display: inline;
   
}

.abtevent_img img{
    margin: 120px 0px 0px 0px;
    height: 300px;
    width: auto;
    float: right;
    left: 70%;
    display: inline;

}


.highlights{
   
    text-align: center;
    width: 100%;
    bottom: 0px;
    display: block;
    height: 850px;
    width : 100%;
    background-color: aqua;
}

.gallery{

}

.spoonser{


}

.footer{


}